
header {
  display: flex;
  justify-content: center;
  flex-wrap: row wrap;

}

body {
 background-image: url("./images/background2.png");
 background-repeat: no-repeat;
 background-position: center bottom;
 background-size: auto auto;
 min-height: 100vh;

}

h1 {
  display: flex;
  flex-direction: row;
  font-family: "Notable", sans-serif;
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

div {
  font-size: 25px;
}

p {
  font-size: 18px;
}

form {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}

input {
  height: 25px;
  border: 2px solid black;
}

button {
  padding: 5px 10px;
  border: 2px solid black;
  margin-left: 5px;
}



.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  margin: 50px 0 0 20px;
}

.type-effectiveness {
  /* font-size: 20px; */
  /* font-weight: bold; */
}

#search:hover {
  padding: 5px 10px;
  background-image: url(./images/det-pikachu.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  background-color: white;
}

#pokeball {
  width: 60px;
  height: 60px;
  margin-top: 45px;
}

#data-container {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
  margin-top: 30px;
}

#basic-info {
  display: flex;
  /* justify-content: flex-start; */

}

#effectiveness {
  display: flex;
  justify-content: center;
  flex-wrap: row wrap;
  margin-top: 35px;
  background-color: #ffffff3f;
}

#add-favorites {
  width: 35px;
  height: 35px;
  background-image: url(./images/pixel_heart.png);
  background-size: cover;
}

#favoritesButton {
  padding: 5px 10px;
  border: 2px solid black;
  margin-top: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row; */
  

}





@media only screen and (max-width: 600px) {
 
  h1 {
    font-size: 10vw;
  }

  h2 {
    margin: 10px 5px;
  }

  p {
    margin: 5px 5px;
  }
  
  body {
    background-position: center top;
  }

  div.pokemon-info {
    margin-top: 15px;
  }

  .pokemon-image {
    width: 80%;
    height: auto;
    display: flex;
    /* justify-content: center; */

  }
  
  .pokemon-info {
    display: flex;
    /* justify-content: center; */
    /* justify-self: center; */
    height: auto;
    
  }

  #pokeball {
    height: 10vw;
    width: auto;
    margin-top: 8vw;
  }
  
  #data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-self: flex-start; */
  }

  #basic-info {
    display: flex;
    /* justify-content: center; */
    margin-top: 0px;
    /* justify-self: center; */
    
    /* flex-wrap: column wrap; */
  }
}